html, body{
    background-color: lightcoral;
}

img{
    width: 250px;
    border-radius: 10px;
    height: 250px;
}

body{
    background-color: white;
    width: 250px;
    border-radius: 10px;
    display: block;
    padding-left: 10px;
}
form{
    padding-bottom: 10px;
}
form > h2{
    text-align: center;
}




